
header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: url('../assets/crossword.png');
  border-bottom: 4px solid #e0ecf9;
  z-index: 9;

  nav {
    height: 100%;

    ul {
      display: inline-flex;
      width: calc(100% - 800px);
      justify-content: space-around;
      padding: 0 400px;

      li {
        list-style: none;
        display: inline-block;
        text-transform: uppercase;
        // font-family: 'Oswald', sans-serif;
        font-family: 'Didact Gothic', sans-serif;
        font-size: 16pt;
        color: #545454;
        // text-shadow: 0.2px 0px 0;

        &.active {
          color: #009dff;
          text-shadow: 0 0 50px #e0ecf9;
        }
      }
    }
  }
}
