@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Oswald');

@import './header.scss';
@import './sections/intro.scss';
@import './sections/for-who.scss';
@import './sections/speaker.scss';
@import './sections/signup.scss';

html, body {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  // background-position: center;
}
